SECRET_KEY=your_secret_key
EMAIL_BACKEND='django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST='your_email_host'
EMAIL_PORT=your_email_port
EMAIL_USE_TLS=True
EMAIL_HOST_USER='your_email@example.com'
EMAIL_HOST_PASSWORD='your_email_password'
