.home-container {
  text-align: center;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  overflow: hidden;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card h2 {
  margin: 0;
  padding: 10px;
  background-color: #333;
  color: #fff;
  font-size: 1.2rem;
}

.movie-card img {
  width: 100%;
  height: auto;
  max-height: 300px;
}

.movie-card p {
  text-align: center;
  padding: 10px;
}

.home-container {
  margin-bottom: 20px;
}

.movie-card {
  flex: 0 0 calc(33.33% - 20px); 
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: auto;
  max-height: 300px; 
}

.movie-card p.movie-title {
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin: 0;
}

.home-container {
  margin-bottom: 20px;
}

.movie-world {
  background-color: #333;
  color: #fff;
  font-size: 1.8rem;
  padding: 5px 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 2px solid #fff;
}

.show-more-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0f172a;
  color: #fff;
  font-size: 14px;
  border: none;
  padding: 12px 24px;
  margin-top: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.show-more-button:hover {
  background-color: #1b4ed8;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}