.movies-container {
    text-align: center;
    padding: 20px;
  }
  
  .movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .movie-card {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    cursor: pointer;
    overflow: hidden;
    display: flex;
    flex-direction: column; /* Make the card content stack vertically */
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-image {
    width: 100%;
    height: 200px; /* Set a fixed height for the images */
    object-fit: cover;
  }
  
  .movie-details {
    padding: 20px;
    text-align: left;
  }
  
  .movie-title {
    margin: 0;
    padding: 10px;
    background-color: #333;
    color: #fff;
    font-size: 1.2rem;
    text-align: center; /* Center the movie title text */
  }
  
  .movie-info {
    margin: 0;
    padding: 5px 0;
    font-size: 0.9rem; /* Adjust the font size for movie info */
    text-align: center; /* Center the movie info text */
    color: #555; /* Adjust text color for movie info */
  }

  h1.movies {
    background-color: #333;
    color: #fff;
    font-size: 1.8rem;
    padding: 5px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 2px solid #fff; /* Add border with white color */
  }
  